*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-nav {
  padding: 50x 150px;
}

body {
  font-family: "Bitstream Vera Serif Bold", serif;
  font-weight: 300;
  color: black;
  text-align: center;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 20px;
}

h2 {
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 20px;
}

h3 {
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 20px;
}

form {
  max-width: 300px;
  margin: 30px auto;
  padding: 10px;
  background: #ee913a;
  border-radius: 8px;
}

footer {
  margin: 0 0 30px 0;
  text-align: center;
}

  a:hover { 
    color: #ee913a;
  }

.main-nav {
  position: fixed;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.4)
  top: 0;
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  padding: 15px 15px;
  font-family: "Bitstream Vera Serif Bold", serif;
  font-weight: bolder;
}

/* Media Queries */ 
@media screen and (min-width: 769px) {

  body {
    padding-top: 5px;
  }

  form {
    max-width: 480px;
  }

  footer {
    font-family: "Bitstream Vera Serif Bold", serif;
    float: center;
  }
